<div class="trouble">

<div class="select_person">好きな人物、キャラクターを選んでください！</div>

<ul randomdisplay="25" class="down-pics">
	<li><a href="/cheers/jakuchoD"><%= image_tag 'pic1.png', class:"pic" %></a><div class="name">瀬戸内寂聴</div></li>
	<li><a href="/cheers/kanouD"><%= image_tag 'pic2.png', class:"pic" %></a><div class="name">叶恭子</div></li>
	<li><a href="/cheers/jobsD"><%= image_tag 'pic3.png', class:"pic" %></a><div class="name">スティーブ・ジョブズ</div></li>
	<li><a href="/cheers/bilD"><%= image_tag 'pic4.png', class:"pic" %></a><div class="name">ビル・ゲイツ</div></li>
	<li><a href="/cheers/beyonceD"><%= image_tag 'pic5.png', class:"pic" %></a><div class="name">ビヨンセ・ノウルズ</div></li>
	<li><a href="/cheers/matD"><%= image_tag 'pic6.png', class:"pic" %></a><div class="name">松下幸之助</div></li>
	<li><a href="/cheers/shimoD"><%= image_tag 'pic7.png', class:"pic" %></a><div class="name">志茂田景樹</div></li>
	<li><a href="/cheers/shakeD"><%= image_tag 'pic8.png', class:"pic" %></a><div class="name">ウィリアム・シェイクスピア</div></li>
	<li><a href="/cheers/mariD"><%= image_tag 'pic9.png', class:"pic" %></a><div class="name">マリリン・モンロー</div></li>
	<li><a href="/cheers/chapD"><%= image_tag 'pic10.png', class:"pic" %></a><div class="name">チャップリン</div></li>
	<li><a href="/cheers/micD"><%= image_tag 'pic11.png', class:"pic" %></a><div class="name">マイケル・ジョーダン</div></li>
	<li><a href="/cheers/doraD"><%= image_tag 'pic26.png', class:"pic" %></a><div class="name">ドラえもん</div></li>
	<li><a href="/cheers/snaD"><%= image_tag 'pic25.png', class:"pic" %></a><div class="name">スナフキン</div></li>
	<li><a href="/cheers/ichD"><%= image_tag 'pic12.png', class:"pic" %></a><div class="name">イチロー</div></li>
	<li><a href="/cheers/helenD"><%= image_tag 'pic13.png', class:"pic" %></a><div class="name">ヘレン・ケラー</div></li>
	<li><a href="/cheers/napoD"><%= image_tag 'pic14.png', class:"pic" %></a><div class="name">ナポレオン・ボナパルト</div></li>
	<li><a href="/cheers/hanyuD"><%= image_tag 'pic15.png', class:"pic" %></a><div class="name"></div></li>
	<li><a href="/cheers/disneyD"><%= image_tag 'pic16.png', class:"pic" %></a><div class="name">羽生善治</div></li>
	<li><a href="/cheers/bananaD"><%= image_tag 'pic17.png', class:"pic" %></a><div class="name">よしもとばなな</div></li>
	<li><a href="/cheers/einD"><%= image_tag 'pic18.png', class:"pic" %></a><div class="name">アインシュタイン</div></li>
	<li><a href="/cheers/miwaD"><%= image_tag 'pic19.png', class:"pic" %></a><div class="name">美輪明宏</div></li>
  <li><a href="/cheers/andyD"><%= image_tag 'pic20.png', class:"pic" %></a><div class="name">アンディ・ウォーホル</div></li>
	<li><a href="/cheers/obamaD"><%= image_tag 'pic21.png', class:"pic" %></a><div class="name">ミシェル・オバマ</div></li>
	<li><a href="/cheers/kikiD"><%= image_tag 'pic27.png', class:"pic" %></a><div class="name">キキ</div></li>
	<li><a href="/cheers/matukoD"><%= image_tag 'pic23.png', class:"pic" %></a><div class="name">マツコデラックス</div></li>
</ul>

</div>