<div class="trouble">

<p class="select_person">好きな人物、キャラクターを選んでください！</p>

<ul randomdisplay="5" class="down-pics">
	<li><a href="/cheers/jakuchoD"><%= image_tag 'pic1.png' %></a></li>
	<li><a href="/cheers/kanouD"><%= image_tag 'pic2.png' %></a></li>
	<li><a href="/cheers/jobsD"><%= image_tag 'pic3.png' %></a></li>
	<li><a href="/cheers/bilD"><%= image_tag 'pic4.png' %></a></li>
	<li><a href="/cheers/beyonceD"><%= image_tag 'pic5.png' %></a></li>
	<li><a href="/cheers/matD"><%= image_tag 'pic6.png' %></a></li>
	<li><a href="/cheers/shimoD"><%= image_tag 'pic7.png' %></a></li>
	<li><a href="/cheers/shakeD"><%= image_tag 'pic8.png' %></a></li>
	<li><a href="/cheers/mariD"><%= image_tag 'pic9.png' %></a></li>
	<li><a href="/cheers/chapD"><%= image_tag 'pic10.png' %></a></li>
	<li><a href="/cheers/micD"><%= image_tag 'pic11.png' %></a></li>
	<li><a href="/cheers/doraD"><%= image_tag 'pic26.png' %></a></li>
	<li><a href="/cheers/snaD"><%= image_tag 'pic25.png' %></a></li>
</ul>

<ul randomdisplay="5" class="down-pics">
	<li><a href="/cheers/ichD"><%= image_tag 'pic12.png' %></a></li>
	<li><a href="/cheers/helenD"><%= image_tag 'pic13.png' %></a></li>
	<li><a href="/cheers/napoD"><%= image_tag 'pic14.png' %></a></li>
	<li><a href="/cheers/hanyuD"><%= image_tag 'pic15.png' %></a></li>
	<li><a href="/cheers/disneyD"><%= image_tag 'pic16.png' %></a></li>
	<li><a href="/cheers/bananaD"><%= image_tag 'pic17.png' %></a></li>
	<li><a href="/cheers/einD"><%= image_tag 'pic18.png' %></a></li>
	<li><a href="/cheers/miwaD"><%= image_tag 'pic19.png' %></a></li>
  <li><a href="/cheers/andyD"><%= image_tag 'pic20.png' %></a></li>
	<li><a href="/cheers/obamaD"><%= image_tag 'pic21.png' %></a></li>
	<li><a href="/cheers/kikiD"><%= image_tag 'pic27.png' %></a></li>
	<li><a href="/cheers/matukoD"><%= image_tag 'pic23.png' %></a></li>
</ul>
</div>