<div class="trouble">

<p class="select_person">好きな人物、キャラクターを選んでください！</p>

<ul randomdisplay="5" class="down-pics">
	<li><a href="/cheers/jakuchoB"><%= image_tag 'pic1.png' %></a></li>
	<li><a href="/cheers/kanouB"><%= image_tag 'pic2.png' %></a></li>
	<li><a href="/cheers/jobsB"><%= image_tag 'pic3.png' %></a></li>
	<li><a href="/cheers/bilB"><%= image_tag 'pic4.png' %></a></li>
	<li><a href="/cheers/beyonceB"><%= image_tag 'pic5.png' %></a></li>
	<li><a href="/cheers/matB"><%= image_tag 'pic6.png' %></a></li>
	<li><a href="/cheers/shimoB"><%= image_tag 'pic7.png' %></a></li>
	<li><a href="/cheers/shakeB"><%= image_tag 'pic8.png' %></a></li>
	<li><a href="/cheers/mariB"><%= image_tag 'pic9.png' %></a></li>
	<li><a href="/cheers/kikiB"><%= image_tag 'pic27.png' %></a></li>
	<li><a href="/cheers/doraB"><%= image_tag 'pic26.png' %></a></li>
</ul>

<ul randomdisplay="5" class="down-pics">
	<li><a href="/cheers/chapB"><%= image_tag 'pic10.png' %></a></li>
	<li><a href="/cheers/helenB"><%= image_tag 'pic13.png' %></a></li>
	<li><a href="/cheers/napoB"><%= image_tag 'pic14.png' %></a></li>
	<li><a href="/cheers/disneyB"><%= image_tag 'pic16.png' %></a></li>
	<li><a href="/cheers/bananaB"><%= image_tag 'pic17.png' %></a></li>
	<li><a href="/cheers/einB"><%= image_tag 'pic18.png' %></a></li>
	<li><a href="/cheers/miwaB"><%= image_tag 'pic19.png' %></a></li>
	<li><a href="/cheers/obamaB"><%= image_tag 'pic21.png' %></a></li>
	<li><a href="/cheers/snaB"><%= image_tag 'pic25.png' %></a></li>
	<li><a href="/cheers/matukoB"><%= image_tag 'pic23.png' %></a></li>
</ul>


</div>