<div class="trouble">

<div class="select_person">好きな人物、キャラクターを選んでください！</div>

<ul randomdisplay="25" class="down-pics">
	<li><a href="/cheers/jakuchoC"><%= image_tag 'pic1.png', class:"pic" %></a><div class="name">瀬戸内寂聴</div></li>
	<li><a href="/cheers/kanouC"><%= image_tag 'pic2.png', class:"pic" %></a><div class="name">叶恭子</div></li>
	<li><a href="/cheers/jobsC"><%= image_tag 'pic3.png', class:"pic" %></a><div class="name">スティーブ・ジョブズ</div></li>
	<li><a href="/cheers/bilC"><%= image_tag 'pic4.png', class:"pic" %></a><div class="name">ビル・ゲイツ</div></li>
	<li><a href="/cheers/beyonceC"><%= image_tag 'pic5.png', class:"pic" %></a><div class="name">ビヨンセ・ノウルズ</div></li>
	<li><a href="/cheers/matC"><%= image_tag 'pic6.png', class:"pic" %></a><div class="name">松下幸之助</div></li>
	<li><a href="/cheers/shimoC"><%= image_tag 'pic7.png', class:"pic" %></a><div class="name">志茂田景樹</div></li>
	<li><a href="/cheers/shakeC"><%= image_tag 'pic8.png', class:"pic" %></a><div class="name">ウィリアム・シェイクスピア</div></li>
	<li><a href="/cheers/mariC"><%= image_tag 'pic9.png', class:"pic" %></a><div class="name">マリリン・モンロー</div></li>
	<li><a href="/cheers/chapC"><%= image_tag 'pic10.png', class:"pic" %></a><div class="name">チャップリン</div></li>
	<li><a href="/cheers/micC"><%= image_tag 'pic11.png', class:"pic" %></a><div class="name">マイケル・ジョーダン</div></li>
	<li><a href="/cheers/doraC"><%= image_tag 'pic26.png', class:"pic" %></a><div class="name">ドラえもん</div></li>
	<li><a href="/cheers/snaC"><%= image_tag 'pic25.png', class:"pic" %></a><div class="name">スナフキン</div></li>
	<li><a href="/cheers/ichC"><%= image_tag 'pic12.png', class:"pic" %></a><div class="name">イチロー</div></li>
	<li><a href="/cheers/helenC"><%= image_tag 'pic13.png', class:"pic" %></a><div class="name">ヘレン・ケラー</div></li>
	<li><a href="/cheers/napoC"><%= image_tag 'pic14.png', class:"pic" %></a><div class="name">ナポレオン・ボナパルト</div></li>
	<li><a href="/cheers/hanyuC"><%= image_tag 'pic15.png', class:"pic" %></a><div class="name">羽生善治</div></li>
	<li><a href="/cheers/disneyC"><%= image_tag 'pic16.png', class:"pic" %></a><div class="name">ウォルト・ディズニー</div></li>
	<li><a href="/cheers/bananaC"><%= image_tag 'pic17.png', class:"pic" %></a><div class="name">よしもとばなな</div></li>
	<li><a href="/cheers/einC"><%= image_tag 'pic18.png', class:"pic" %></a><div class="name">アインシュタイン</div></li>
	<li><a href="/cheers/miwaC"><%= image_tag 'pic19.png', class:"pic" %></a><div class="name">美輪明宏</div></li>
  <li><a href="/cheers/andyC"><%= image_tag 'pic20.png', class:"pic" %></a><div class="name">アンディ・ウォーホル</div></li>
	<li><a href="/cheers/obamaC"><%= image_tag 'pic21.png', class:"pic" %></a><div class="name">ミシェル・オバマ</div></li>
	<li><a href="/cheers/kikiC"><%= image_tag 'pic27.png', class:"pic" %></a><div class="name">キキ</div></li>
	<li><a href="/cheers/matukoC"><%= image_tag 'pic23.png', class:"pic" %></a><div class="name">マツコデラックス</div></li>
</ul>

</div>